#project{
    height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;

}
.contatiner{
    width: 100vw;
    padding: 7rem;
    font-family: monospace, cursive;
    box-sizing: border-box;
    min-height: 50vh;
}
.generator{
    width: 30vw;
    background: #618EA8ff;
    border-radius: 3px;
    box-shadow: 0px 2px 10px rgb(255,255,255);
    padding: 10px;
    position: absolute;
    left: 18%;
}
.generator_header{
    text-align: center;
    color: white;
    margin-bottom: 20px;
}
.generator_password{
    position: relative;
    background: gray;
    color: white;
    padding: 13px 10px;
    height: 46px;
    margin-bottom: 15px;
}
.copy_btn{
    position: absolute;
    border: none;
    background: none;
    height: 40px;
    padding: 13px;
    cursor: pointer;
    top: 4px;
    right: 3px;
}

.generator_btn{
    background: white;
    border: none;
    display: block;
    width: 100%;
    padding: 10px;
    color: black;
    font-size: 17px;
    cursor: pointer;


}
.form-group{
    display: flex;
    justify-content: space-between;
    color: white;
    margin-bottom: 15px;
}


/* Start SearchBra */
.search-bar-container{
    padding-top: 10vh ;
    width: 40%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 200px;
    color: white;
}
.input-wrap{
    background-color: white;
    width: 100%;
    border-radius: 10px;
    height: 2.5rem;
    padding: 0 15px;
    box-shadow: 0px 0px 8px #ddd;
    display: flex;
    align-items: center;
}
#search-icon{
    color: black;
}

.input-wrap input{
    background-color: transparent;
    border: none;
    height: 100%;
    font-size: 1.25rem;
    width: 100%;
    margin-left: 5px;
}
.input-wrap input:focus{
    outline: none;
}

