*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Poppins',sans-serif;

}

body{
    background: rgb(30, 30, 30);
    color: rgb(255, 255, 255);
}
/* body::after{
    position: absolute;
    content: "";
    inset: 0;
    left: 30%;
    background-color: rgb(133, 176, 162);
    z-index: -1;
} */